# ignore vs code system file
*.vscode 
*.ipynb
*.ipynb_checkpoints
*.DS_Store 
utils/__pycache__/
results.zip
__pycache__/

# ignore folder 
data/ 
results/
tables/
figures/
fits/
backup/
simulations/
analyses/

# ignore some debug files
debug.py 
documents/ 